.app-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-sizing: inherit;
}

.app-loader .loading-bar-wrapper {
  width: 50%;
  overflow: visible;
  transform: translateX(-100%);
  position: relative;
  box-sizing: inherit;
}

.app-loader .loading-bar {
  position: relative;
  height: 4px;
  border-radius: 4px;
  background: #00a862;
  box-shadow: 0 1px 5px rgba(0,168,98,.5);
  -webkit-transition: background .25s ease,-webkit-box-shadow .25s ease;
  transition: background .25s ease,-webkit-box-shadow .25s ease;
  transition: background .25s ease,box-shadow .25s ease;
  transition: background .25s ease,box-shadow .25s ease,-webkit-box-shadow .25s ease;
}

.app-loader .loading-bar-wrapper.working {
  -webkit-animation: 1.5s cubic-bezier(.75,0,.5,1) infinite sb-loadingIndicator-slide;
  animation: 1.5s cubic-bezier(.75,0,.5,1) infinite sb-loadingIndicator-slide;
}

@-webkit-keyframes sb-loadingIndicator-slide {
  0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%)
  }

  to {
      -webkit-transform: translateX(200%);
      transform: translateX(200%)
  }
}

@keyframes sb-loadingIndicator-slide {
  0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%)
  }

  to {
      -webkit-transform: translateX(200%);
      transform: translateX(200%)
  }
}

/* 
fixed sb-loadingIndicator
relative sb-loadingIndicatorStatus--slow sb-loadingIndicatorStatus--working
relative sb-loadingIndicator-stripe */