.upload-button {
  position: fixed;
  border-width: 1.5px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.24), 0 8px 12px rgba(0,0,0,.14);
  box-shadow: 0 0 6px rgba(0,0,0,.24), 0 8px 12px rgba(0,0,0,.14);
  z-index: 10;
  text-transform: uppercase
}

.upload-button .text, 
.upload-button .full-size {
  display: none;
}

/* mobile */
@media (max-width: 768px) {
  .upload-button {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: .8rem .9rem;
    border-radius: 0;
    
  }

  .upload-button .full-size {
    display: inherit;
  }
}

@media (min-width: 768px) {
  .upload-button {
    padding: 1.2rem 1.6rem;
    bottom: 42px;
    right: 42px;
    font-size: 1.4rem;
  }

  .upload-button .text {
    display: inherit;
  }
}