.face {
  margin-bottom: .6rem;
  padding: 0.4rem .6rem;
}

.face:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.030000000000000013);
}

.face:nth-last-child(1) {
  margin-bottom: 1rem;
}

.face.selected {
  background-color: rgba(0,0,0,.030000000000000013);
}

.face.selected label:after {
  content: ' [selected]';
}

.face label {
  font-weight: 500;
  color: #048248;
  margin-top: .3rem;
}

.face .property-list {
  border-top: 1px solid #00a862;
  padding: 0.3rem 0;
}

@media (min-width: 768px) {
  .face {
    margin-bottom: 1.2rem;
    padding: 0.8rem 1.2rem;
  }

  .face .property-list {
    border-top: 1px solid #00a862;
    padding: 0.6rem 0;
  }
}