.badge {
  font-size: 1.1rem;
  border-radius: 4px;
  padding: .15rem .5rem;
  font-weight: 600;
  vertical-align: middle;
  display: inline-block;
  min-width: 26px;
  text-align: center;  
}

.badge.green {
  color: #fff;
  /* background-color: #00a862; */
  background-color: #048248;
}