.user-form {
  margin-top: 4rem;
  padding-bottom: 6rem;
}

.user-form .input-wrapper {
  margin-bottom: 2rem;
}

.user-form .controls {
  clear: both;
  display: inline-block;
  width: 100%
}

.user-form .create-account {
  margin-top: 2rem;
  padding: 18px 2.4rem;
  float: right;
  border-width: 1.5px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.24), 0 8px 12px rgba(0,0,0,.14);
  box-shadow: 0 0 6px rgba(0,0,0,.24), 0 8px 12px rgba(0,0,0,.14);
}

.user-form .cancel {
  color: #048248;
  float: right;
  vertical-align: middle;
  margin: 3.25rem 2.5rem 0 0;
}

.user-form .cancel:hover {
  color: #383838;
  cursor: pointer;
  text-decoration: underline;
}