.tags {
  font-size: 1.1rem;
  margin: 0.8rem 0;
  margin-top: 0;
  padding: 0 0.6rem;
}

@media (min-width: 768px) {
  .tags {
    font-size: inherit;
    margin: 1.6rem 0;
    padding: 0 1.2rem;
  }
}