.input-wrapper {
  position: relative;
}

/* label information */
.input-wrapper label {
  cursor: text;
  font-size: 1.4rem;
  position: absolute;
  top: 30px;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  color: rgba(0,0,0,.56)!important
}

.input-wrapper label.is-active {
  animation: .3s float-label-appear ease-in-out forwards;
}

@-webkit-keyframes float-label-appear {
  0% {
      font-size: 1.4rem;
      opacity: 1;
      top: 30px
  }

  50% {
      font-size: 1.3rem;
      opacity: 0;
      top: 30px
  }

  51% {
      font-size: 1.3rem;
      opacity: 0;
      top: 10px
  }

  to {
      font-size: 1.3rem;
      opacity: 1;
      top: 10px
  }
}

@keyframes float-label-appear {
  0% {
      font-size: 1.4rem;
      opacity: 1;
      top: 30px
  }

  50% {
      font-size: 1.3rem;
      opacity: 0;
      top: 30px
  }

  51% {
      font-size: 1.3rem;
      opacity: 0;
      top: 10px
  }

  to {
      font-size: 1.3rem;
      opacity: 1;
      top: 10px
  }
}

/* input field */
.input-wrapper .input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: rgba(0,0,0,.9);
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 10px;
  line-height: 1rem;
  padding: 32px 0 6px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.2);
  position: relative;
}

.input-wrapper .input[disabled] {
  cursor: not-allowed;
  color: #666;
}

.input-wrapper.error .input {
  border-color: #e75b52;
}

/* error message */
.input-wrapper .error-messages {
  padding-top: .5rem;
  color: #e75b52;
}

.input-wrapper .error-messages i {
  display: inline-block;
  margin-right: .5rem;
}