.face-marker {
  position: absolute;
  border: 3px solid #383838;
  border-radius: 2px;
  background: transparent;
}

.face-marker:hover {
  background-color: rgba(0, 168, 98, .05);
  border-color: #048248; 
  cursor: pointer;
}

.face-marker:hover .text {
  background-color: #048248;
}

.face-marker.selected {
  border-color: #048248;
}

.face-marker.selected .text {
  background-color: #048248;
}

.face-marker .text {
  font-size: 14px;
  background-color: #383838;
  color: #fff;
  padding: 1.5px 3px;
  max-width: 55px;
  position: absolute;
  top: -25px;
  left: -3px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  z-index: 2;
}
