header {
  padding: .25rem 1rem;
  background-color: #fff;
  display: flex;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 2;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.24), 0 4px 4px 0 rgba(0,0,0,.12);
}

header.hidden {
  position: none;
  visibility: hidden;
}

header.fixed {
  position: fixed;
}

header .brand-section {
  flex-shrink: 1;
  flex-grow: 1;
  order: 1;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

header .brand a {
  font-weight: 500;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
}

header .navigation {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 1rem;
}

header .user {
  width: 50%;
  text-align: right;
  flex-shrink: 1;
  flex-grow: 1;
  order: 1;
}

header .user .fullname {
  display: none;
}

header .user .shortname {
  background-color: #00a862;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  font-weight: 500;
  color: #f9f9f9;
}

@media (min-width: 768px) {
  header {
    padding: .25rem 1.6rem;
    flex-wrap: 0;
    height: 74px;
  }

  header .brand {
    flex-shrink: 0;
    flex-grow: 0;
    width: 6rem;
    font-weight: 500;
  }
  
  header .user {
    flex-shrink: 0;
    flex-grow: 0;
    width: auto;
    max-width: 12rem;
    color: #048248;
    text-decoration: none;
    font-weight: 500;
  }

  header .user .fas {
    margin-left: .25rem;
  }

  header .user:hover {
    cursor: pointer;
    color: #383838;
  }

  header .user .fullname {
    display: inherit;
  }
  
  header .user .shortname {
    display: none;
  }
}