.drawer {
  position: absolute;
  z-index: 100;
  top: 4.75rem;
  left: 0;
  bottom: 0;
  width: 17rem;
  padding: 1rem;
  background-color: #fff;
  border-right: 2px solid #ccc;
  box-shadow: 0 2px 10px 0 #aaa;
  transition: left 0.8s;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  overflow: scroll;
}

.drawer.open {
  left: 0;
}

.drawer.close {
  left: -100%;
}

.drawer .close-indicator {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
}

.drawer .close-indicator:hover {
  color: #133545;
  cursor: pointer;
  font-weight: 600;
}

.picture-list {
  list-style: none;
  padding-left: 0;
}

.picture-list li {
  margin-bottom: .5rem;
}

.picture-list li img {
  -webkit-filter: brightness(100%);
  width: 100%;
  height: auto;
}

.picture-list li img:hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
