.user-view .title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.user-view .user-key[disabled] {
  cursor: text;
}

.user-view .copied {
  font-weight: 600;
}

.user-view .copy-to-clipboard,
.user-view .logout {
  color: #048248;
  font-weight: 600;
}

.user-view .copy-to-clipboard:hover,
.user-view .logout:hover {
  color: #383838;
  cursor: pointer;
  text-decoration: underline;
}