.app-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;
}

.app-content {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  /* padding: .5rem; */
}

@media (min-width: 488px) {
  .app-wrapper {
    padding-top: 74px;
  }

  /* .app-content {
    padding: 1rem;
  } */
}
