.application-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}

.application-header {
  flex-shrink: 0;
  flex-grow: 0;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
}
