* {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* font-size: 62.5%; */
    font-size: 76.925%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: Gotham,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, .87);
  background-color: #f7f7f7;
}

body,
.application {
  position: relative;
  height: 100%;
}

a {
  color: #048248;
}

a:hover {
  color: #383838;
  cursor: pointer;
  text-decoration: underline;
}

.center-view {
  max-width: 90%;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 488px) {
  .center-view {
    max-width: 44rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
