* {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    /* background-color: #F7F7F9; */
    min-width: 600px;
    background-color: #ececef;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23152b50' fill-opacity='0.15' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 16px;
  font-weight: 300;
}

body,
.application {
  position: relative;
  height: 100%;
}

h1 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #33334A;
}

h1.inverse {
  color: #fff;
}