.image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image p {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 1.3rem;
  color: #333;
  padding: 1rem;
  text-align: center;
}

.image .error {
  color: rgb(211, 26, 62);
}