.login-view .title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.login-view a {
  color: #048248;
  font-weight: 600;
}

.login-view a:hover {
  color: #383838;
  cursor: pointer;
  text-decoration: underline;
}